<li>{{question.ask}}<br>
  Posted by: {{question.author}}
  {{#if isDetailShowing }}
    <p>{{question.detail}}  <button {{action 'detailHide'}}>Hide Detail</button></p>
  {{else}}
     <button {{action 'detailShow'}}>Show Detail</button>
 {{/if}}
 {{update-question question=question update="update"}}
 <button {{action 'delete' question}}>Delete</button>
</li>
