<li>{{#link-to 'question' question.id}}{{question.ask}}<br>
  Posted by: {{question.author}} {{/link-to}}
  {{#if isDetailShowing }}
    <p>{{question.detail}}  <button {{action 'detailHide'}}>Hide Detail</button></p>
  {{else}}
     <button {{action 'detailShow'}}>Show Detail</button>
 {{/if}}
 {{answer.answer}} by {{answer.name}}
   {{update-answer answer=answer update="update"}}
  <button {{action 'delete' answer}}>Delete</button>
</li>
